@charset "UTF-8";
/* Reset del CSS. configuración universal de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Este valor asegura que el ancho y alto de los elementos incluyan el relleno y el borde*/
}

/* Configuración del body */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el contenedor ocupe toda la ventana */
}

/* Contenedor principal */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

/* Contenido principal */
.content {
  flex: 1; /* Hace que el contenido ocupe todo el espacio disponible */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo el contenido dentro de .content */
}

/*linea---------------------------------------------------------------------------------------*/
.linea {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /*fin de linea--------------------------------------------------------------------------------*/
}
.linea hr {
  width: 80%;
  border: 0; /* Elimina el borde por defecto */
  height: 1px; /* Altura de la línea */
  background-color: #888; /* Color de la línea */
  margin: 0 auto; /* Asegura el centrado horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  .linea {
    width: 100%;
  }
  .linea hr {
    width: 100%;
  }
}
/* ESTILOS DE BARRA DE NAVEGACION ----------------------------------------------------------------------------------*/
.navbar-custom {
  background-color: #333;
}
.navbar-custom .nav-link {
  color: white;
  padding: 24px 20px;
  width: 100px;
  text-align: center;
  display: inline-block;
}
.navbar-custom .nav-link:hover {
  background-color: #575757;
  color: white;
}
@media (max-width: 600px) {
  .navbar-custom .nav-link {
    width: 400px;
    text-align: start;
  }
}
@media (max-width: 900px) {
  .navbar-custom .nav-link {
    width: 400px;
    text-align: start;
  }
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  position: relative !important;
  width: 30px !important;
  height: 2px !important;
  background-color: white;
}
.navbar-toggler .navbar-toggler-icon::before, .navbar-toggler .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
}
.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}
.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* BANNER -----------------------------------------------------------------------------------------*/
.banner {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  height: 600px; /* Altura del banner */
  background-image: url("../assets/mujerjoven.webp"); /* La imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen en el banner */
  display: flex; /* Activa Flexbox para este contenedor */
  flex-direction: column; /* Alinea los elementos hijos (h1 y p) en columna */
  align-items: center; /* Centra horizontalmente los elementos */
  justify-content: center; /* Centra verticalmente los elementos */
  color: white; /* Color del texto */
  text-align: center; /* Centra el texto dentro de cada elemento */
  font-size: 3rem; /* El tamaño de la letra */
  /* Ajuste para pantallas más pequeñas mobile */
}
.banner h1 {
  margin: 0; /* Elimina el margen del h1 para mejor control del espaciado */
  font-size: 3rem;
}
.banner p {
  margin: 0; /* Elimina el margen del párrafo */
  margin-top: 10px; /* Añade un pequeño margen superior para separación */
  font-size: 2rem; /* Ajusta el tamaño del texto del párrafo */
}
@media screen and (max-width: 768px) {
  .banner {
    height: 400px;
    font-size: 3rem;
  }
}

/* fin banner -- */
/*CARRUSEL---------------------------------------------------------------------------*/
#carouselExampleAutoplaying {
  max-width: 80%; /* Define el ancho máximo del carrusel */
  height: auto; /* Establece una altura fija para el carrusel */
  display: flex; /* Usa flexbox para centrar */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  margin: 20px auto; /* Asegura que el carrusel esté centrado en su contenedor */
}
#carouselExampleAutoplaying .carousel-inner .carousel-item img {
  width: 100%; /* Asegura que las imágenes se ajusten al ancho del carrusel */
  height: auto; /* Mantiene la proporción de las imágenes */
  object-fit: cover; /* Recorta las imágenes si es necesario para ajustarse */
}

/* BARRA DE CATEGORIAS ---------------------------------------------------------- */
.navcategorias {
  display: flex;
  margin: 32px;
  list-style-type: none;
  justify-content: center;
}
.navcategorias a {
  text-decoration: none;
  margin-right: 16px;
  color: #333;
}
.navcategorias a:hover {
  color: black;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .navcategorias {
    flex-direction: column; /* Muestra los elementos en una columna */
    text-align: left;
  }
  .navcategorias a {
    color: #333;
    line-height: 1.6;
  }
}

/* FIN CATEGORIAS */
/* CATALOGO DE ROPA ------------------------------------------------------------- */
.container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  /* Define un contenedor con un ancho del 80% del contenedor padre (pantalla) y lo centra horizontalmente usando margin: auto. */
}

/* Estilos del main */
.products {
  display: flex; /* Habilita Flexbox */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas si es necesario */
  gap: 50px; /* Espacio entre los productos */
  padding: 32px 0; /* Añade un relleno vertical para separar la sección de productos del contenido alrededor. */
}

.product {
  flex: 1 1 calc(25% - 20px); /* Ajusta el ancho del producto, considerando el espacio entre elementos */
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  background: #f9f9f9;
  box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho */
  /* Consultas de medios para adaptabilidad */
}
.product img {
  width: 100%;
  max-width: 300px;
  height: 400px;
  object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor manteniendo las proporciones */
}
.product h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}
.product .price {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}
.product .btn {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 0px;
  width: 80%; /* Ocupa todo el ancho del contenedor */
  padding: 10px;
}
.product .btn:hover {
  background: #555;
  color: #fff;
}
@media (max-width: 1200px) {
  .product {
    flex: 1 1 calc(33.333% - 20px); /* 3 productos por fila */
  }
}
@media (max-width: 900px) {
  .product {
    flex: 1 1 calc(50% - 20px); /* 2 productos por fila */
  }
}
@media (max-width: 600px) {
  .product {
    flex: 1 1 100%; /* 1 producto por fila */
  }
}

#cart-link { /* puntito del carrito. El símbolo # en CSS se utiliza para seleccionar un elemento HTML por su id*/
  position: relative;
  display: inline-block;
}

#cart-notification {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: none;
}

/* fin catalogo --------------------------------------------------------------------------------------------- */
/*REGISTRO-------------------------------------------------*/
.btn-global {
  background-color: #333 !important;
  border-color: #333 !important;
  margin: 10px 0;
}
.btn-global:hover {
  background-color: #555 !important;
  border-color: #555 !important;
}

/* Estilos del footer ---------------------------------------------------------------------*/
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0; /* Espaciado interno */
  /* Fija el footer en la parte inferior de la ventana */
  bottom: 0; /* Ubica el contenedor en la parte inferior */
  left: 0; /* Alinea el contenedor a la izquierda */
  right: 0; /* Alinea el contenedor a la derecha */
  /* Estilo para el enlace en el pie de página */
}
footer a.contac-link {
  text-decoration: underline; /* Elimina el subrayado */
  color: #fff;
}
footer a.contac-link:hover {
  text-decoration: underline; /* Mantiene el subrayado en el hover */
  color: #1fe5ff; /* Cambia el color al hacer hover */
}

/* Estilos para centrar y crear el cuadrado */
.containercar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.boxcar {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  width: auto; /* Usa un ancho adecuado para pruebas */
  height: auto;
  max-width: 900px; /* Limita el ancho máximo */
  background: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.boxcar img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
.boxcar .descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 50%;
  gap: 20px;
}
.boxcar .descripcion h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}
.boxcar .descripcion .color-selector, .boxcar .descripcion .size-selector, .boxcar .descripcion .quantity-selector {
  margin: 10px 0;
}
.boxcar .descripcion .comprar-btn {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
}
.boxcar .descripcion .comprar-btn:hover {
  background: #555; /* Fondo más claro al pasar el mouse */
}

/* Consultas de medios para adaptabilidad */
@media (max-width: 900px) {
  .containercar {
    margin-bottom: 60px;
    margin-top: 60px;
    height: auto;
  }
  .boxcar {
    flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
    padding: 15px;
    max-width: 100%; /* Asegúrate de que no haya restricción de ancho */
  }
  .hr {
    width: 200px;
  }
  img {
    width: 100%; /* La imagen ocupa todo el ancho */
    margin: auto;
  }
  .descripcion {
    width: 100%; /* La descripción ocupa todo el ancho */
    margin: auto; /* Asegúrate de que esté centrado */
    gap: 15px; /* Reduce el espacio entre elementos */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Centra el texto */
  }
}
@media (max-width: 600px) {
  .containercar {
    margin-bottom: 60px;
    margin-top: 60px;
    height: auto;
  }
  .boxcar {
    flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
    padding: 15px;
    max-width: 100%; /* Asegúrate de que no haya restricción de ancho */
  }
  img {
    width: 100%; /* La imagen ocupa todo el ancho */
    margin: auto;
  }
  .descripcion {
    width: 100%; /* La descripción ocupa todo el ancho */
    margin: auto; /* Asegúrate de que esté centrado */
    gap: 15px; /* Reduce el espacio entre elementos */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Centra el texto */
  }
}
/* Estilo para la ventana modal */
.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed; /* Mantenerlo en la misma posición */
  z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Habilitar el desplazamiento si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}
.modal .modal-content {
  background-color: #fff; /* Fondo blanco */
  margin: 15% auto; /* Margen superior e inferior */
  padding: 20px; /* Espaciado interno */
  border: 1px solid #888; /* Borde */
  width: 300px; /* Ancho de la ventana modal */
  text-align: center; /* Centrar el texto */
  gap: 15px;
}
.modal .modal-content .close-button {
  color: #aaa; /* Color del botón de cerrar */
  float: right; /* Posición en la esquina superior derecha */
  font-size: 28px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
}
.modal .modal-content .close-button:hover,
.modal .modal-content .close-button:focus {
  color: black; /* Color al pasar el mouse */
  text-decoration: none; /* Sin subrayado */
  cursor: pointer; /* Cursor de puntero */
}
.modal .modal-content .btnmodal {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
}
.modal .modal-content .btnmodal:hover {
  background: #555; /* Fondo más claro al pasar el mouse */
}

.carrito {
  width: 80%;
  align-items: center;
  margin: 32px auto;
}
.carrito hr {
  width: 100%;
}
.carrito .productoscarrito {
  display: flex;
  flex-direction: row;
  /* Consultas de medios para adaptabilidad */
}
.carrito .productoscarrito .boxcarrito {
  display: flex;
  height: 80px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.carrito .productoscarrito .boxcarrito .box1 {
  display: flex;
  gap: 60px;
  align-items: center;
}
.carrito .productoscarrito .boxcarrito img {
  width: 64px;
  height: 64px;
}
.carrito .productoscarrito .boxcarrito p {
  margin: 0 0;
}
.carrito .productoscarrito .boxcarrito button {
  font-size: 28px;
  background-color: #f9f9f9;
  border: #f9f9f9;
}
@media (max-width: 980px) {
  .carrito .productoscarrito .boxcarrito {
    gap: 15px;
    height: 200px;
  }
  .carrito .productoscarrito .boxcarrito .box1 {
    margin: 10px;
    flex-direction: row;
    display: block;
    gap: 20px;
  }
  .carrito .productoscarrito .boxcarrito .box1 div {
    margin-top: 10px;
  }
  .carrito .productoscarrito .boxcarrito .box1 img {
    margin-top: 10px;
  }
  .carrito .productoscarrito .boxcarrito .box1 p {
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .carrito .productoscarrito .boxcarrito {
    gap: 15px;
    height: 200px;
  }
  .carrito .productoscarrito .boxcarrito .box1 {
    margin: 10px;
    flex-direction: row;
    display: block;
    gap: 20px;
  }
  .carrito .productoscarrito .boxcarrito .box1 div {
    margin-top: 10px;
  }
  .carrito .productoscarrito .boxcarrito .box1 img {
    margin-top: 10px;
  }
  .carrito .productoscarrito .boxcarrito .box1 p {
    margin-top: 10px;
  }
}
@media (max-width: 400px) {
  .carrito .productoscarrito .boxcarrito {
    gap: 15px;
    height: 200px;
  }
  .carrito .productoscarrito .boxcarrito .box1 {
    margin: 10px;
    flex-direction: row;
    display: block;
    gap: 20px;
  }
  .carrito .productoscarrito .boxcarrito .box1 div {
    margin-top: 10px;
  }
  .carrito .productoscarrito .boxcarrito .box1 img {
    margin-top: 10px;
  }
  .carrito .productoscarrito .boxcarrito .box1 p {
    margin-top: 10px;
  }
}
.carrito .boxubicacion {
  display: flex;
  flex-direction: row;
  height: 80px;
  padding: 20px;
  margin: 15px auto;
}
.carrito .boxubicacion input {
  background-color: #f9f9f9;
  border: #f9f9f9;
}

/*VIDEO-----------------------------------------------------------------------------------------*/
.video {
  position: relative; /* Necesario para posicionar el contenido sobre el video */
  width: 80%; /* Ocupa todo el ancho de la pantalla */
  height: 400px; /* Altura del video */
  margin: auto; /* Centra el contenedor horizontalmente */
  overflow: hidden; /* Oculta cualquier desbordamiento del video */
}

/* Contenedor externo para manejar el flujo del diseño */
.video-contenedor {
  position: relative; /* Necesario para posicionar el contenedor relativo al flujo del diseño */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  overflow: hidden; /* Asegura que el contenido no se desborde */
  margin: 20px auto; /* Agrega un margen de 20px en la parte superior e inferior y centra el contenedor horizontalmente */
  margin-bottom: 40px;
  padding: 10 10px; /*  Agrega un padding de 10px en los lados para un mejor ajuste en pantallas pequeñas */
}

.video-video {
  position: absolute; /* Posiciona el video absolutamente */
  top: 0;
  left: 0;
  width: 100%; /* Hace que el video cubra todo el ancho del banner */
  height: 100%; /* Hace que el video cubra toda la altura del banner */
  object-fit: cover; /* Asegura que el video cubra todo el área sin deformarse */
  z-index: -1; /* Coloca el video detrás del contenido */
}

.video-content {
  position: relative; /* Asegura que el contenido esté por encima del video */
  display: flex; /* Activa Flexbox para centrar el contenido */
  flex-direction: column; /* Alinea los elementos hijos (h1 y p) en columna */
  align-items: center; /* Centra horizontalmente los elementos */
  justify-content: center; /* Centra verticalmente los elementos */
  height: 100%; /* Asegura que el contenido esté centrado verticalmente */
  color: white; /* Color del texto */
  text-align: center; /* Centra el texto dentro de cada elemento */
  font-size: 3rem; /* Tamaño de la letra */
}

/*fin del video---------------------------------------------------------------------------------*/

/*# sourceMappingURL=styles.css.map */
