/* BARRA DE CATEGORIAS ---------------------------------------------------------- */

.navcategorias {
    display: flex;
    margin: 32px;
    list-style-type: none;
    justify-content: center;

    a {
        text-decoration: none;
        margin-right: 16px;
        color: #333;

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }

    @media (max-width: 600px) {
        flex-direction: column; /* Muestra los elementos en una columna */
        text-align: left;

        a {
            color: #333;
            line-height: 1.6;
        }
    }
}

/* FIN CATEGORIAS */