/*REGISTRO-------------------------------------------------*/
.btn-global {
    background-color: #333!important;
    border-color: #333!important;
    margin: 10px 0;
    &:hover{
        background-color: #555 !important;
        border-color: #555 !important;
    }
    
}
