
 /*CARRUSEL---------------------------------------------------------------------------*/

 #carouselExampleAutoplaying {
    max-width: 80%;             /* Define el ancho máximo del carrusel */
    height: auto;              /* Establece una altura fija para el carrusel */
    display: flex;              /* Usa flexbox para centrar */
    align-items: center;        /* Centra verticalmente */
    justify-content: center;    /* Centra horizontalmente */
    margin: 20px auto;             /* Asegura que el carrusel esté centrado en su contenedor */
  
  
      .carousel-inner {
        .carousel-item {
          position: relative; // Asegura que el texto esté posicionado respecto al contenedor
  
          img {
            width: 100%;                /* Asegura que las imágenes se ajusten al ancho del carrusel */
            height: auto;               /* Mantiene la proporción de las imágenes */
            object-fit: cover;          /* Recorta las imágenes si es necesario para ajustarse */
            
            
           
          }
          .carousel-caption {
            
            align-items: center;
            color: #fff;                 // Color del texto
            text-align: center;          // Centra el texto
            font-size: 48px;             // Tamaño del texto
            text-decoration: solid;
            max-width: 80%;              // Asegura que el texto no se extienda fuera de la imagen
          }
        }
      }
    }